@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$backgound-color: hsl(240, 12%, 13%);
$text-color: hsl(210, 20%, 98%);

$font-family-body: "Be Vietnam Pro", sans-serif;
$font-family-headings: "Inter", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgound-color;
  color: $text-color;
  font-family: $font-family-body;
  font-weight: 300;
}

img {
  aspect-ratio: 1/1;
  display: block;
}

h1 {
  font-size: clamp(0.5rem, 0.5rem + 10vw, 5rem);
  max-width: 5ch;
  line-height: 1;
  text-align: center;
}

h2 {
  margin-block: clamp(8rem, 8rem + 5vh, 7rem);
  font-size: clamp(0.1rem, 0.1rem + 6vw, 2rem);
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: $font-family-headings;
}

p {
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
}

.container {
  padding-top: clamp(2em, 2em + 10vh, 10em);
  width: min(90%, 70.5rem);
  margin-inline: auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10em;
  overflow-x: scroll;
  white-space: pre-line;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  & ::-webkit-scrollbar {
    display: none;
  }
  & a {
    margin-inline: auto;
  }
}

@media (min-width: 650px) {
  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
    margin-bottom: 10em;
    overflow-x: scroll;
    white-space: pre-line;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
