/* ------------------------------
   Imports (Google Fonts)
------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100..900;1,100..900&display=swap");

/* ------------------------------
   Variables
------------------------------ */
$background-color: hsl(240, 12%, 13%);
$text-color: hsl(210, 20%, 98%);
$accent-color: hsl(345, 66%, 47%);
$font-body: "Be Vietnam Pro", sans-serif;
$font-headings: "Inter", sans-serif;

/* ------------------------------
   Global Reset
------------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ------------------------------
   Typography
------------------------------ */
body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-body;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
  font-weight: 900;
}

h1 {
  font-size: clamp(0.5rem, 0.5rem + 10vw, 5rem);
  max-width: 5ch;
  line-height: 1;
  text-align: center;
  margin-top: 2.9rem;
}

h2 {
  margin-bottom: 0;
  font-size: clamp(1rem, 1rem + 1.5vw, 4rem);
}

p {
  font-size: clamp(1rem, 1rem + .2vw, 2rem);
}

/* ------------------------------
   Layout Utilities
------------------------------ */
.container {
  width: min(90%, 70.5rem);
  margin-inline: auto;
  padding-top: clamp(2em, 2em + 10vh, 10em);
}

.line {
  width: 240px;
  height: 3px;
  background-color: $text-color;
  margin-top: 10px;
  margin-left: 23px;
}

.socials-line {
  width: 3px;
  height: 150px;
  background-color: $text-color;
  margin-inline: auto;
  margin-top: 30px;
}

/* ------------------------------
   Hero Section
------------------------------ */
.hero {
  height: 100vh;
}

.email-section {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 95px;
  right: 0;
}

.email-link {
  color: $text-color;
  text-decoration: none;
}

.name-role {
  margin-top: 150px;
  margin-bottom: 50px;
}

.role {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 248px;
}

/* ------------------------------
   Projects Section
------------------------------ */
.projects-list {
  display: flex;
  gap: clamp(2rem, 1rem + 5vw, 5rem);
  overflow-x: scroll;
  white-space: pre-line;
  /* Hide scrollbars */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  & div {
    text-align: center;
  }
}

/* ------------------------------
   Elements
------------------------------ */
img {
  aspect-ratio: 1/1;
  display: block;
  border-radius: 0.3rem;
}

.view-projects {
  background-color: $accent-color;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5px;
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
}

.email-section-projects {
  display: flex;
  gap: 1rem;
  position: absolute;
  left: 0;
  margin-top: 7rem;


  .line {
    margin-left: 0;
    width: 196px;
  }
}

.email-link-projects {
  color: $text-color;
  text-decoration: none;
}

.projects-socials {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 0;
}

.projects-socials-line {
  width: 150px;
  height: 3px;
  background-color: $text-color;
  margin-block: auto;
}


.projects-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(10rem, 2rem + 5vw, 30rem);
}

.projects-container {
  min-height: 100vh;
}